@charset "utf-8";
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html, body{
    font-size: 1.2rem;
    font-family: Helvetica Neue, Calibri, Verdana, sans-serif;
    color: #d4d4d4;
    background-color: #222;
}
h1{
    color: #eee;
    font-size: 3rem;
    text-shadow: -2px -2px 2px gold, 2px 2px 2px #000;
    width: 100%;
    position: relative;
}
h3{
    font-size: 2rem;
    padding: 1rem 0 1rem 0;
    margin: 0px 1rem 0px 1rem;
    color: #eee;
}
p{
    padding-bottom: 1rem;
    margin: 1rem 1rem 0 1rem;
}
nav a, nav a:link, nav a:visited{
    color: gold;
    text-decoration: none;
    margin: 1rem;
}
nav a:hover, nav a:active{
    color: #fff;
}
nav ul{
    list-style: none;
    text-decoration: none;
    color: gold;
    background-color: #444;
    padding: 1rem 0 1rem 0;
    font-size: 1.3rem;
    border-bottom: 15px solid #666;
}
nav li{
    display: inline;
}
#wrapper{
    position: absolute;
    left: 4rem;
    right: 4rem;
}
#masthead{
    background-image: url(img/saturn.v1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 5rem;
    border-bottom: 10px solid #666;
}
#main{
    background-color: #444;
}
#footer{
    background-color: #333;
    margin: 0px;
    padding: 1rem 0 0.5rem 0;
}
#footer p{
    font-size: 16px;
    color: #999;
}
#footer a{
    color: gold;
    font-size: 16px;
}